{% extends "AppCoder/padre.html" %}

{% load static %}


{% block body %}
<body>
    <p>
        Bienvenidos a FiguYa! <br>
        Realizada por Lautaro Tascon y Bruno Rossi. <br>
        Somos dos estudiantes del curso "Python" de Coderhouse. <br>
        Nos conocemos de nuestra ciudad natal Esquel Chubut y los dos tenemos 25 años.<br>
        Hoy en dia cada uno esta estudiando en diferentes ciudades pero seguimos compartiendo la amistad y las ganas de aprender.<br>
        Nos intereso estudiar programacion y decidimos hacerlo en conjunto.<br>
        Como hobbys y a modo de que nos conozcan un poco mas: <br>
        A Bruno le gusta practicar ajedrez y cocinar.<br>
        A Lautaro le gusta jugar al futbol y entrenar. <br>

        Espero que disfruten esta pagina tanto como nosotros disfrutamos hacerla!<br>
        Por cualquier duda, informacion o proyectos pueden contactarse con nosotros.<br>

        Nuestros contactos:<br>
        Lautaro Tascon: lautarotascon@gmail.com<br>
        Bruno Rossi: rossilautaro24@gmail.com<br>

        Muchas gracias!!!<br>
    </p>
</body>
{% endblock body %}

{% block titulo %}

{% endblock %}